<div class="row">
    <center><h1>New Contact</h1></center>
</div>

<%= render 'form' %>

<%= link_to 'Back', phonebooks_path, class: 'btn btn-default btn-md btn-block' %>

<span id="helpBlock" class="help-block"></span>